{% extends 'shop/base.html' %}
{% block content %}
<html>
<head>
    <title>Basket detail</title>
</head>
    <body>
        <h1>Basket detail</h1>
        <p><b>Username: {{basket.username}}</b></p>
        <p><b>basketname: {{basket.basketname}}</b></p>
        <p><b>Consignee: {{basket.name}}</b></p>
        <p><b>Address: {{basket.address}}</b></p>
        <p><b>Created date: {{basket.created_date}}</b></p>
        <p><b>Status: {{basket.status}}</b></p>
        <a href = "{% url 'shop:basket_edit' basketname=basket.basketname %}">Edit details</a>
        
        <h2>Item:</h2>
        {% if items %}
        <table border="1" style="text-align:center" width='60%'>
        <tr><th>Item name</th><th>Price(single)</th><th>Amount</th><th>Price(total)</th><th>Date added</th></tr>
        <tr>
        {% for item in items %}
            <td>{{item.item}}</td>
            <td>£{{item.price}}</td>
            <td>{{item.amount}}</td>
            <td>£{{item.total_price}}</td>
            <td>{{item.created_date}}</td>
        </tr>
        {% endfor %}
        </table>
        {% else %}
        </table>
        <p>No item in this basket.</p>
        {% endif %}
    </body>
</html>
{% endblock %}