{% extends 'shop/base.html' %}
{% block content %}
<html>
<head>
    <title>Basket detail edit</title>
</head>
    <body>
        <h1>Basket detail edit</h1>
        <p>Please check and modify the basket details:</p>
        <form method="POST"> 
        {% csrf_token %}
        <b><p>Username: {{basket.username}}</p>
        <p>Status: {{basket.status}}</p>
        <p>Basketname: <input type = "text" name = "basketname" value = "{{basket.basketname}}" required="required"></p>
        <p>Consignee: <input type = "text" name = "name" value = "{{basket.name}}" required="required"></p>
        <p>Address: <input type = "text" name = "address" value = "{{basket.address}}" required="required"></p></b>
        <p><input type="submit" value="Modify">
        Click <a href = "{% url 'shop:basket_delete' id=id %}">delete</a>
         to remove this basket with all items in it.</p>
        </form>
        <p>{{msg}}</p>
    </body>
</html>
{% endblock %}