{% extends 'shop/base.html' %}
{% block content %}
<html>
<head>
    <title>Basket detail</title>
</head>
    <body>
        <h1>Basket detail</h1>
        <p><b>Username: {{basket.username}}</b></p>
        <p><b>basketname: {{basket.basketname}}</b></p>
        <p><b>Consignee: {{basket.name}}</b></p>
        <p><b>Address: {{basket.address}}</b></p>
        <p><b>Created date: {{basket.created_date}}</b></p>
        <p><b>Status: {{basket.status}}</b></p>
        {% if basket.status == 'unpaid' %}
        <a href = "{% url 'shop:basket_edit' id=basket.id %}">Edit details</a> | 
        <a href = "{% url 'shop:item_add' basketname=basket.basketname %}">Add items</a> | 
        <a href = "{% url 'shop:basket_payment' id=basket.id %}">Make a payment</a>
        <p>Click item name allows you to modify your order.</p>
        {% else %}
        <p>You cannot modify a paid order.</p>
        {% endif %}
        <h2>Item:</h2>
        {% if items and basket.status == 'unpaid' %}
        <table border="1" style="text-align:center" width='60%'>
        <tr><th>Item name</th><th>Price</th><th>Amount</th><th>Subtotal</th><th>Date added</th></tr>
        <tr>
        {% for item in items %}
            <td><a href = "{% url 'shop:item_edit' id=item.id %}">{{item.item}}</a></td>
            <td>£{{item.price}}</td>
            <td>{{item.amount}}</td>
            <td>£{{item.total_price}}</td>
            <td>{{item.created_date}}</td>
        </tr>
        {% endfor %}
        <tr><th>Total Cost</th><th></th><th></th><th>£{{sum}}</th><th></th></tr>
        </table>
        {% elif items and basket.status == 'paid' %}
        <table border="1" style="text-align:center" width='60%'>
        <tr><th>Item name</th><th>Price</th><th>Amount</th><th>Subtotal</th><th>Date added</th></tr>
        <tr>
        {% for item in items %}
            <td>{{item.item}}</td>
            <td>£{{item.price}}</td>
            <td>{{item.amount}}</td>
            <td>£{{item.total_price}}</td>
            <td>{{item.created_date}}</td>
        </tr>
        {% endfor %}
        <tr><th>Total Cost</th><th></th><th></th><th>£{{sum}}</th><th></th></tr>
        </table>
        {% else %}
        <p>No item in this basket.</p>
        {% endif %}
    </body>
</html>
{% endblock %}