{% extends 'shop/base.html' %}
{% block content %}
<html>
<head>
    <title>Basket item edit</title>
</head>
    <body>
        <h1>Basket item edit</h1>
        <p>Please check your orders:</p>
        <form method="POST"> 
        {% csrf_token %}
        <b><p>Item name: {{item.item}}</p>
        <p>Price: £{{item.price}}</p>
        <p>Amount: <input type = "number" name = "amount" value = "{{item.amount}}" step="1" min="1" max={{total_amount}} required="required">
        ({{product.amount}} on sale now)</p>
        <p>Subtotal: £{{item.total_price}}</p>
        <p>Created date: {{item.created_date}}</p></b>
        <p><input type="submit" name="Modify">
        Click <a href = "{% url 'shop:item_delete' id=item.id %}">remove</a> to remove this item from your basket. | 
        <a href = "{% url 'shop:basket_detail' basketname=item.basketname %}">Go back</a> to basket detail page.</p>
        </form>
        <p>{{msg}}</p>
    </body>
</html>
{% endblock %}