{% extends 'shop/base.html' %}
{% block content %}
<html>
<head>
    <title>Item detail</title>
</head>
    <body>
        <h1>Item detail</h1>
        <table border="1" style="text-align:center" width='60%'>
        <tr><th>ID</th><th>Name</th><th>Type</th><th>Price</th><th>Amount</th><th>Date added</th></tr>
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>£{{product.price}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.created_date}}</td>
        </tr></table>
        <p>
            <form method = "post">
            {% csrf_token %}
            Please enter the amount you want:
            <input type = "number" name = 'amount' step="1" min="1" max={{product.amount}}>
            <input type = "submit" value = "Pick" >
        </p>
        <p>{{msg}}</p>
        <p><a href="{% url 'shop:item_add' basketname=basketname %}"> Go back and continue shopping</a>
             or<a href = "{% url 'shop:basket_detail' basketname=basketname %}"> Go to your basket and check</a></p>
    </body>
</html>
{% endblock %}