{% extends 'shop/base.html' %}
{% block content %}
<html>
<head>
    <title>Product detail</title>
</head>
    <body>
        <h1>Product detail</h1>
        <form method="POST"> 
        {% csrf_token %}
        <b>
        <p>ID: {{product.id}}</p>
        <p>Name: <input type = "text" name = "name" value={{product.name}} required="required"></p>
        <p>Price: <input type = "number" name = "price" value={{product.price}} step="0.01" min="0" max="999999.99" required="required"></p>
        <p>Amount: <input type = "Integer" name = "amount" value={{product.amount}} step="1" min="1" max="9999" required="required"></p>
        Type: <select name= "type" value={{product.type}}>
                    <option>Food</option><option>Clothes</option><option>Living</option>
                    <option>Activities</option><option>Common</option></select>
        <p>Created date: {{product.created_date}}</p>
        <p><input type="submit" name="Modify">
        <p><button onclick="history.back()">Go Back</button></p>
        </b>
        </form>
    </body>
</html>
{% endblock %}