{% extends 'shop/base.html' %}
{% block content %}
<html>
<head>
    <title>Order detail</title>
</head>
    <body>
        <h1>Order detail</h1>
        <form method="POST"> 
        {% csrf_token %}
        <b>
        <p>Username: {{item.username}}</p>
        <p>Basketname: {{item.basketname}}</p>
        <p>Item name: {{item.item}}</p>
        <p>Price: £ <input type = "number" name = "price" value={{item.price}} required="required"></p>
        <p>Amount: <input type = "Integer" name = "amount" value={{item.amount}} step="1" min="1" max={{total_amount}} required="required">({{product.amount}} on sale now)</p>
        <p>Subtotal: £{{item.total_price}}</p>
        <p>Created date: {{item.created_date}}</p></b>
        <p><input type="submit" name="Modify">
        <a href = "{% url 'shop:staff_order_delete' id=item.id %}">Delete</a></p>
        </form>
        {{msg}}
    </body>
</html>
{% endblock %}