{% extends 'shop/base.html' %}
{% block content %}
<html>
    <head><title>SignUp</title></head>
    <body>
    <h1>User Registration</h1>
    
    <p>{{msg}}</p>
    <form method="POST"> 
        {% csrf_token %}
        <p>Username:</p>
        <p><input type = "text" name = "username" required="required"></p>
        <p>Password:</p>
        <p><input type = "text" name = "password1" required="required"></p>
        <p>Confirm your password:</p>
        <p><input type = "text" name = "password2" required="required"></p>
        <p>Email:</p>
        <p><input type = "text" name = "email" required="required"></p>
        <p>Address:</p>
        <p><input type = "text" name = "address" required="required"></p>
        <p><input type="submit" name="Sign Up"></p>
     
</form>
    </body>
</html>
{% endblock %}