<html>
    <head><title>Shop base</title></head>
    <body>
        <p>
        <a href = "{% url 'shop:index' %}">Home</a>

        {% if user.is_staff %}
        <a href = "{% url 'shop:product_add' %}">Add Product</a> 
        <a href = "{% url 'shop:product_list' %}">Check List</a>
        <a href = "{% url 'shop:log_out' %}">Log Out</a> 
        {% elif user.is_authenticated %}
        <a href = "{% url 'shop:basket_add' %}">Create New Basket</a>
        <a href = "{% url 'shop:balance' %}">Balance</a>
        <a href = "{% url 'shop:item_list' %}">Item List</a>
        <a href = "{% url 'shop:log_out' %}">Log Out</a> 
        {% else %}
        <a href = "{% url 'shop:log_in' %}">Log In</a> 
        {% endif %}

        </p>
        {% block content %}
        {% endblock %}
    </body>
</html>