{% extends 'shop/base.html' %}
{% block content %}
<html>
<head>
    <title>Product search</title>
</head>
    <body>
        <h1>Product search</h1>
        <h2>Search:</h2>
        <form method = "post">
            {% csrf_token %}
            <p>Enter the id number or the name of target product:
            <input type = "radio" name = "key" value = "id"> ID
            <input type = "radio" name = "key" value = "name"> Name
            <input type = "text" name = "target">
            <input type = "submit" value = "Search" >  
            </p>  
        </form> 

        <h2>Result:</h2>
        {{msg}}
        {% if products %}
        <table border="1" style="text-align:center" width='60%'>
        <tr><th>ID</th><th>Name</th><th>Type</th><th>Price</th><th>Amount</th><th>Date added</th><th>Pick</th></tr>
        <tr>
        {% for product in products %}
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>£{{product.price}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.created_date}}</td>
        <td><form method = "post">
            {% csrf_token %}
            <input type = "hidden" name = "id" value={{product.id}}>
            <input type = "number" name = "number" step="1" min="0" max={{product.amount}}>
            <input type = "submit" value = "Pick" ></td></tr>
        {% endfor %}
        </table>
        {% else %}
        </table>
        No product matches, please check your input.
        {% endif %}

    </body>
</html>
{% endblock %}