<html>
<head>
    <title>Product search</title>
</head>
    <body>
        <h1>Product search</h1>
        <h2>Search:</h2>
        <form action = "/product_search/" method = "post">
            {% csrf_token %}
            <p>Enter the id number or the name of target product:
            <input type = "radio" name = "key" value = "id"> ID
            <input type = "radio" name = "key" value = "name"> Name
            <input type = "text" name = "target">
            <input type = "submit" value = "Search" >  
            </p>  
        </form> 

        <h2>Result:</h2>
        <table border="1" style="text-align:center" width='60%'>
        <tr><th>ID</th><th>Name</th><th>Type</th><th>Price</th><th>Amount</th><th>Date added</th>
        {% if products %}
        {% for product in products %}
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.type}}</td>
            <td>£{{product.price}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.created_date}}</td>
        </tr>
        {% endfor %}
        </table>
        {% else %}
        </table>
        No product matches, please check your input.
        {% endif %}

    </body>
</html>