<html>
<head>
    <title>Product add</title>
</head>
    <body>
        <h1>Product add</h1>
        <form action = "/" method = "post">
            {% csrf_token %}
            <p>Add new product:</p>
            <p>
                Name: <input type = "text" name = "name" placeholder="Product name" required="required">
                Type: <select name= "type">
                    <option>Food</option><option>Clothes</option><option>Living</option>
                    <option>Activities</option><option>Common</option></select>
                Price: <input type = "number" name = "price" placeholder="Product price" max="999999.99" required="required">
                Amount: <input type = "integer" name = "amount" placeholder="Product amount" required="required">
                <input type = "submit" value = "submit" >
            </p>
            <p><a href = "{% url 'shop:product_list' %}">Home</a></p>
        </form> 
    </body>
</html>

<!-- 
        <h2>Search:</h2>
        <form action = "/product_edit/" method = "post">
            {% csrf_token %}
            <p>Enter the id number or the name of target product:
            <input type = "radio" name = "search_option" value = "id"> ID
            <input type = "radio" name = "search_option" value = "name"> Name
            <input type = "text" name = "key_word">
            <input type = "submit" value = "Search" >  
            </p>  
        </form> 

        <h2>Result:</h2>
        <table border="1" style="text-align:center" width='60%'>
        <tr><th>Name</th><th>Type</th><th>Price</th><th>Amount</th><th>Date added</th>
        {% if product %}
        <tr>
            <td>{{product.name}}</td>
            <td><b>{{product.type}}</b></td>
            <td>£{{product.price}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.created_date}}</td>
        </tr>
        </table>
        {% else %}
        </table>
        No product matches, please check your input.
        {% endif %}
-->