<html>
    <head><title>Product list</title></head>
    <body>
        <h1>Product list</h1>

        <table border="1" style="text-align:center" width='60%'>
        <tr><th>Name</th><th>Type</th><th>Price</th><th>Amount</th><th>Date added</th>
        
        {% for product in products %}
        <tr>
            <td>{{product.name}}</td>
            <td><b>{{product.type}}</b></td>
            <td>£{{product.price}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.created_date}}</td>
        </tr>
        {% endfor %}
        </table>
        
        
        
        
    </body>
</html>
